@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Raleway";
    src: url("../assets/Fonts/Raleway/Raleway-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Pacifico";
    src: url("../assets/Fonts/Pacifico/Pacifico-Regular.ttf");
    font-weight: normal;
}
